.jumbotron {
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=9b926a186c&attid=0.1&permmsgid=msg-a:r4467164040517398932&th=17b9d90758dbcc19&view=att&disp=safe&realattid=17b9d90579c265d03c51");
}
table, th, td {
    border: 1px solid black;
    background-color: #72dae4;
  }
  .dog {
      width: 400px;
      height:400px;
  }
  body {
      background-color:rgb(215, 187, 145);
  }